html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .form-check-input {
        appearance: none;
        -webkit-appearance: none;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

    #gridRadios1:checked {
        background-color: #1e22fc;
        border-color: #1e22fc;
    }
    #gridRadios1:checked::before {
        background-color: #fff;
    }

    #gridRadios2:checked {
        background-color: #00c421;
        border-color: #00c421;
    }
    #gridRadios2:checked::before {
        background-color: #fff;
    }

    #gridRadios3:checked {
        background-color: #fff131;
        border-color: #fff131;
    }
    #gridRadios3:checked::before {
        background-color: #fff;
    }

    #gridRadios4:checked {
        background-color: #ff3333;
        border-color: #ff3333;
    }
    #gridRadios4:checked::before {
        background-color: #fff;
    }

    .form-check-input:checked::before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
    }


    .form-check-input:not(:checked) {
        background-color: #f0f0f0;
        border-color: #ccc;
    }